@import "colors";

body {
  margin: 0;
  color: $off-white;
  background-color: $onyx-1;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  all: unset;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    border: #0000d1 2px solid;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  all: unset;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: #0000d1 2px solid;
  }
}
